/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2C3E50;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  
  .login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }
  
  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;

  }
  
  /* The triangle form is achieved by a CSS hack */
  .login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #2C3E50;

  }
  
  .login-header {
    background: #2C3E50;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #2C3E50;
    color: white;
    border-radius: 15px 15px 0px 0px;
  }
  
  /* formulario */
  .shadow{
    -webkit-box-shadow: 10px 10px 28px 6px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 28px 6px rgba(0,0,0,0.26);
    box-shadow: 10px 20px 28px 6px rgba(0,0,0,0.26);
    
}
 .filtro{
    border-radius: 0px 0px 15px 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    background-color: rgba(243, 243, 243, 0.04);
    
}

  .login-container {

    padding: 12px;
  }
  
  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }
  
  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .login input[type="submit"]:hover {
    background: #17c;
  }
  
  /* Buttons' focus effect */
  .login input[type="submit"]:focus {
    border-color: #05a;
  }

  a
  {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
  }

  .centrarBoton{
    text-align: center;
  }
  .boton{
    margin-top: 60px; 
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px; /* el entreespaciado del cada letra de la palabra */
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s; /* para tener un efecto suave */
}
.boton:hover{
    color: var(--colorContenedor);
    background-color: #fff;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff; /* para darle una sombra al boton */
    transition-delay: 1s; /* para que se retarde un poco la transicion */
}
.boton span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#fff);
}
.boton:hover #span1{
    left: 100%;
    transition: 1.2s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fff);
}
.boton:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fff);
}
.boton:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fff);
}
.boton:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* FIN BOTON */