<div class="container">
	<div class="login">
	  <div class="login-triangle"></div>
  
	  <h2 class="login-header">Login</h2>
  
	  <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
		<p>
		  <input type="email" name="email" placeholder="Email" ngModel required>
		</p>
		<p>
		  <input type="password" name="password" placeholder="Contraseña" ngModel required>
		</p>
		<p>
		  <input type="submit" value="Login">
		</p>
		<br>
		<br>
		<a class="nav-link" routerLink="/register">Registrarse</a>
	  </form>
	</div>
  </div>