<div class="container">
	<div class="login">
	  <div class="login-triangle"></div>
  
	  <h2 class="login-header">Login</h2>
  
	  <form #frmLogin="ngForm" class="login-container shadow filtro" (ngSubmit)="onLogin(frmLogin)">
		<p>
		  <input type="email" name="email" placeholder="Email" ngModel required>
		</p>
		<p>
		  <input type="password" name="password" placeholder="Contraseña" ngModel required>
		</p>
		<p class="centrarBoton" >
		  <!-- <input type="submit" value="Login"> -->
			<a href="../photos-list/" class="boton" id="servicioss">
				<span id="span1"></span>
				<span id="span2"></span>
				<span id="span3"></span>
				<span id="span4" ></span>
				Ingresar</a>

		</p>
		<br>
		<br>
		<a class="nav-link" routerLink="/register">Registrarse</a>
	  </form>
	</div>
  </div>